{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/about.css'%}>
    <title>About US</title>
</head>
<body>
    <div class="wrapper">

        <div class="background-container">
            <div class="bg-1"></div>
            <div class="bg-2"></div>
    
        </div>
        <div class="about-container">
            
            <div class="image-container">
                <img src={%static 'img/other/about.jpg'%} alt="">
                
            </div>

            <div class="text-container">
                <h1>About us</h1><br>
                <h4><i>Bringing the rich world of tribal products and produce to your doorstep!</i></h4><br>
                <p>E-Tribal Market plays the role of a connector by providing platform where tribal artisans and gatherers can put up their masterpieces and produce for sale.
                    <br>We help to expand their business with this system.
                </p>
                <!--<a href="">Read More</a>-->
            </div>
            
        </div>
    </div>
    

</body>
</html>