{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
    <title>Products</title>

    <link href={% static 'css/category.css' %} rel="stylesheet">
</head>
<body>
    {%block header%}
    <header>
        <div class="logo">
            <p>E-Market</p>
        </div>
        <nav>
            <ul>
            
                <li><a href="craft">CRAFT</a></li>
                <div class="dropdown">
                    <li>
                    <a class="nav-link" href="">CROCKERY</a>
                    </li>

                    <div class="dropdown-content">
                      <a href="#">PLATES</a>
                      <a href="#">BOWLS</a>
                      <a href="#">WOODEN</a>
                    </div>
                  </div>
                <div class="dropdown">
                    <li>
                    <a class="nav-link" href="">HOME_DECOR</a>
                    </li>

                    <div class="dropdown-content">
                      <a href="#">ART</a>
                      <a href="#">PAINTING</a>
                      <a href="#">OTHER</a>
                    </div>
                  </div>
                  <div class="dropdown">
                    <li>
                    <a class="nav-link" href="">JWELLARY</a>
                    </li>

                    <div class="dropdown-content">
                      <a href="#">EARRINGS</a>
                      <a href="#">NECKLACE</a>
                      <a href="#">OTHER</a>
                    </div>
                  </div>
            </ul>
        </nav>
    </header>
    {%endblock header%}
    <main>
      <div class="container">
          <div class="jumbotron jumbotron_style">
              <h1>Welcome to our Tribal store!</h1>
              <p> Our categories....
              </p>
          </div>
          <div class="padding-20"></div>
          <div class="row text-center">
              <div class="col-md-3 col-sm-6">
                  <div class="thumbnail">
                      <img src={%static 'img/art/a3.jpg'%} alt="painting">
                      <div class="caption">
                          <h3>Art </h3>
                          
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 ">
                  <div class="thumbnail">
                      <img src={%static 'img/craft/cr2.jpg'%} alt="">
                      <div class="caption">
                          <h3>Crafts</h3>
                          
                          
                      </div>
                  </div>
              </div>

              <div class="col-md-3 col-sm-6 ">
                  <div class="thumbnail">
                      <img src={%static 'img/crockery/cro2.jpg'%} alt="cannon">
                      <div class="caption">
                          <h3>Crockery</h3>
                          
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 ">
                  <div class="thumbnail">
                      <img src={%static 'img/home/h2.jpg'%} alt="Panasonic">
                      <div class="caption">
                          <h3>Home_Decor</h3>
                          
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-3 col-sm-6">
                  <div class="thumbnail">
                      <img src={%static 'img/jwellary/ear3.jpg'%}>
                      <div class="caption">
                          <h3>Jwellary</h3>
                          
                          
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 ">
                  <div class="thumbnail">
                      <img src={%static 'img/painting/p2.jpg'%}>
                      <div class="caption">
                          <h3>Paintings</h3>
                          
                          
                      </div>
                  </div>
              </div>
      
              <div class="padding-50"></div>
        </div>

              
  </main>
    <footer>
        <div class="container">
            <center>
                Copyright © Lifestyle Store. All Rights Reserved and Contact Us: +91 90000 00000
            </center>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>

</html>